on early-init
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc
    symlink /system/bin/ash /system/bin/sh

    mkdir /data
    mkdir /cache
    mkdir /stash
    mount /tmp /tmp tmpfs

    wait /data/system.img 20
    start installer

on device-added-/dev/block/sdb3
    mount squashfs /dev/block/sdb3 /data

on device-added-/dev/block/sdb4
    mount ext4 /dev/block/sdb4 /stash rw

on device-added-/dev/block/sdc3
    mount squashfs /dev/block/sdc3 /data

on device-added-/dev/block/sdc4
    mount ext4 /dev/block/sdc4 /stash rw

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service installer /system/bin/installer
    console
    oneshot
    disabled

service logcat /system/bin/logcat
    console

service console /system/bin/sh
    console
    disabled

service adbd /sbin/adbd
    disabled

on property:init.svc.installer=stopped
    wait 2
    start console
    start adbd
